<div class="card border-light">
  <div class="card-body">
    <div class="reaction-content card-text mb-2"><%= reaction.content %></div>
    <p class="card-text">
      <small class="text-muted"><%= local_time(reaction.created_at) %></small>
    </p>
  </div>
</div>
